<div id="comment">
  <div class="palm-page-header">
    <div class="palm-page-header-wrapper">
      <div class="title left" style="padding-top: 10px">
        <img src="/var/usr/palm/applications/com.brightkite.app/images/logo.png" alt="Brightkite" />
      </div>
    </div>
  </div>
  <div class="palm-group">
    <div class="palm-group-title">Post a comment</div>
    <div class="palm-row">
      <div class="palm-row-wrapper">
        <div class="textfield-group" x-mojo-focus-highlight="true">
          <div class="title">
            <div id="comment" x-mojo-element="TextField"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="post" x-mojo-element="Button"></div>
</div>