<div id="object">
  <div class="item">
    <div class="info">
      <img src="" alt="" id="avatar" class="avatar" />
      <div id="username" class="username"></div>
      <div id="details" class="details">@ <span class="place"></span> - <span class="time"></span></div>
    </div>
    <div class="object_content">
      <img src="" alt="" class="photo" />
      <div class="note"></div>
    </div>
  </div>
  <div id="loading" x-mojo-element="Spinner"></div>
  <div id="comments">
    <div class="item">
      <img src="" alt="" class="avatar" />
      <div class="comment_content">
        <div class="username"></div>
        <div class="comment"></div>
        <div class="time"></div>
      </div>
    </div>
  </div>
  <div id="post" x-mojo-element="Button"></div>
</div>