<div id="friends">
  <div id="loading" x-mojo-element="Spinner"></div>
  <div id="stream" class="palm-list">
    <div class="item">
      <div class="palm-row" x-mojo-highlight="momentary">
        <div class="palm-row-wrapper">
          <img src="" alt="" class="avatar" />
          <div class="wrapper">
            <div class="content"></div>
            <p class="details"><span>@</span> <span class="place">Brightkite HQ</span> - <span class="time">5 minutes ago</span></p>
          </div>
          <p class="controls">
            <span class="comments"><span>comments</span></span>
            <span class="privacy"><span>privacy</span></span>
          </p>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="more" x-mojo-element="Button"></div>
</div>