<div id="person">
  <div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper">
      <div class="icon"></div>
      <div class="title">Username</div>
      <div class="subtitle">Current place</div>
    </div>
  </div>
  <div id="personstream" x-mojo-element="Button"></div>
  <div id="friendship" x-mojo-element="Button"></div>
  <div id="message" x-mojo-element="Button"></div>
  <div id="join" x-mojo-element="Button"></div>
  <div id="nudge" x-mojo-element="Button"></div>
</div>