<div id="main" class="palm-hasheader">
  <div class="palm-header left">Brightkite</div>
</div>
<div class="palm-group">
  <div class="palm-group-title">I am at...</div>
	<div class="palm-list">
	  <div class="palm-row first">
			<div id="location" class="palm-row-wrapper">
		    <p>Finding you...</p>
		    <div x-mojo-element="Spinner" id="location_loading"></div>
		  </div>
		</div>
		<div class="palm-row last">
			<div id="details" class="palm-row-wrapper" style="display: none">
  		  <p>Last update: <span id="last_update">Less than a minute ago</span></p>
  		  <p>Accuracy: <span id="accuracy">0</span> meters</p>
		  </div>
		</div>
	</div>
</div>
<div x-mojo-element="Button" id="logout"></div>