<div class="palm-page-header">
  <div class="palm-page-header-wrapper">
    <div class="title">
      <img src="../../../images/logo.png" alt="Brightkite" />
    </div>
  </div>
</div>

<!--<div id="main" class="palm-hasheader">
  <div class="palm-header left">Brightkite</div>
</div>
<div id="home" class="palm-group">
  <div class="palm-group-title">I am at... TEST</div>
	<div class="palm-list">
	  <div class="palm-row first">
			<div id="location" class="palm-row-wrapper">
		    <p>Finding you...</p>
		    <div x-mojo-element="Spinner" id="location_loading"></div>
		  </div>
		</div>
		<div class="palm-row last">
			<div id="details" class="palm-row-wrapper" style="display: none">
  		  <p>Last update: <span id="last_update">Less than a minute ago</span></p>
  		  <p>Accuracy: <span id="accuracy">0</span> meters</p>
		  </div>
		</div>
	</div>
</div>
<div x-mojo-element="Button" id="pick"></div>
<div x-mojo-element="Button" id="activity"></div>
<div x-mojo-element="Button" id="friends"></div>
<div x-mojo-element="Button" id="logout"></div>-->

<!--<div id="main" class="iphone_wrapper">
  <div id="toolbar" class="toolbar">
    <h1><span>Brightkite</span></h1>
    <a href="#privacy" class="button"><img src="/var/usr/palm/applications/com.brightkite.app/images/iphone/icon_public.png" alt="Public mode" /></a>
  </div>
  <div id="iam" class="content">
    <h2>I am at...</h2>
    <div id="location">
      <div id="snap">
        <h3>Brightkite HQ</h3>
        <p>2911 Walnut St, Denver, CO 80205, USA</p>
      </div>
      <div id="details">
        <p id="update">Last update: <strong></strong></p>
        <p id="accuracy">Accuracy: <strong></strong></p>
        <div class="clear"></div>
      </div>
      <div id="actions">
        <a href="#find" id="find_button" class="button"><span>Find me</span></a>
        <span>or</span>
        <a href="#pick" id="pick_button" class="button"><span>Pick a place</span></a>
      </div>
    </div>
    <h2>I want to...</h2>
    <fieldset>
      <div class="row"><a href="#checkin" class="disabled">Check in</a></div>
      <div class="row"><a href="#note" class="disabled">Post a note</a></div>
      <div class="row"><a href="#photo" class="disabled">Post a photo</a></div>
    </fieldset>
  </div>
</div>-->