.clear {
  clear: both;
}

em {
  font-style: italic !important;
}

#home #place,
#home #details {
  display: none;
}

#home #place em {
  display: none;
  font-size: 0.8em;
}

#home #details {
  min-height: 0;
}

#home #details .title {
  position: relative;
  height: 15px;
  margin: 0;
  padding: 5px 15px 8px 15px;
  font-size: 0.6em;
  color: #999;
}

#home div.name {
  font-weight: bold;
}

#home #update,
#home #accuracy {
  position: absolute;
}

#home #accuracy {
  left: 170px;
}

#home #find,
#home #pick {
  float: left;
  width: 150px;
}

.palm-button {
  text-transform: none;
}

#stream {
  display: none;
}

#stream .palm-row-wrapper {
  position: relative;
  font-size: 0.8em;
  padding: 6px 15px 10px 15px;
}

#stream p {
  margin: 0;
  padding: 0;
}

#stream .controls > span > span {
  display: none;
}

#stream .wrapper {
  margin-left: 55px;
}

#stream .photo_object .wrapper {
  margin-right: 60px;
}

#stream .checkin_object .avatar {
  width: 16px;
  height: 16px;
  margin-left: 24px;
}

#stream .details {
  font-size: 0.8em;
  color: #666;
}

#stream .controls .count {
  position: absolute;
  left: 10px;
  top: 51px;
  font-size: 0.6em;
  color: #999;
}

#stream .note_object,
#stream .photo_object {
  min-height: 48px;
}

#stream .checkin_object .controls .count {
  top: 10px;
}

#stream img.avatar {
  position: absolute;
  top: 1px;
  left: 10px;
  margin-top: 10px;
}

#stream .content img {
  position: absolute;
  right: 10px;
  margin-top: 5px;
}

#activity #loading,
#pick #loading {
  margin: 20px auto;
}

#activity #more {
  display: none;
}

#pick #results .palm-row-wrapper {
  padding: 10px 15px;
}

#pick #results .display_location {
  font-size: 0.8em;
  color: #666;
}

#note p {
  margin: 0 0 10px 0;
  padding: 0;
  color: #666;
}

#note p span {
  color: #000;
}

#note .palm-row {
  background: none;
}

#object {
  display: none;
}

#object > .item .info {
  padding: 10px 10px 0 10px;
}

#object > .item .avatar {
  float: left;
}

#object > .item  .username,
#object > .item  .details {
  position: relative;
  top: -5px;
  margin: 0 0 0 58px;
  padding: 0;
}

#object > .item  .details {
  font-size: 0.7em;
  color: #666;
}

#object > .item .object_content {
  clear: both;
  margin-top: 15px;
  padding: 10px;
  background: #fff;
}

#object > .item  .object_content img {
  width: 100%;
}

#object #comments {
  display: none;
}

#object #loading {
  margin: 0 auto;
}

#comments .item {
  margin: 15px 0 0 16px;
  padding: 0;
}

#comments .avatar {
  float: left;
  margin-left: 10px;
}

#comments .comment_content {
  position: relative;
  top: -5px;
  margin: 0 0 0 52px;
}

#comments .username,
#comments .comment {
  font-size: 0.8em;
}

#comments .time {
  font-size: 0.7em;
  color: #666;
}