.clear {
  clear: both;
}

em {
  font-style: italic !important;
}

#home #place,
#home #details {
  display: none;
}

#home #place em {
  display: none;
  font-size: 0.8em;
}

#home #details {
  min-height: 0;
}

#home #details .title {
  position: relative;
  height: 15px;
  margin: 0;
  padding: 5px 15px 8px 15px;
  font-size: 0.6em;
  color: #999;
}

#home #update,
#home #accuracy {
  position: absolute;
}

#home #accuracy {
  left: 170px;
}

#home #find,
#home #pick {
  float: left;
  width: 150px;
}

.palm-button {
  text-transform: none;
}

