.clear {
  clear: both;
}

em {
  font-style: italic !important;
}

#home #place,
#home #details {
  display: none;
}

#home #place em {
  display: none;
  font-size: 0.8em;
}

#home #details {
  min-height: 0;
}

#home #details .title {
  position: relative;
  height: 15px;
  margin: 0;
  padding: 5px 15px 8px 15px;
  font-size: 0.6em;
  color: #999;
}

#home #update,
#home #accuracy {
  position: absolute;
}

#home #accuracy {
  left: 170px;
}

#home #find,
#home #pick {
  float: left;
  width: 150px;
}

.palm-button {
  text-transform: none;
}

#stream {
  display: none;
}

#stream .palm-row-wrapper {
  position: relative;
  font-size: 0.8em;
  padding: 6px 15px 10px 15px;
}

#stream p {
  margin: 0;
  padding: 0;
}

#stream .controls > span > span {
  display: none;
}

#stream .wrapper {
  margin-left: 55px;
}

#stream .photo_object .wrapper {
  margin-right: 60px;
}

#stream .checkin_object .avatar {
  width: 16px;
  height: 16px;
  margin-left: 24px;
}

#stream .details {
  font-size: 0.80em;
  color: #666;
}

#stream img.avatar {
  position: absolute;
  top: 0px;
  left: 10px;
  margin-top: 10px;
}

#stream .content img {
  position: absolute;
  right: 10px;
}

#pick #results .palm-row-wrapper {
  padding: 10px 15px;
}

#pick #results .display_location {
  font-size: 0.8em;
  color: #666;
}